html {
	height: 100%;
}

body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif;
	height: 100%;
	margin: 0;
	line-height: 1.5;
	tab-size: 4;
	display: flex;
	flex-flow: column;
}

a {
	color: #0366d6;
	text-decoration: none;
}

a:visited {
	color: #0366d6;
}

a:hover {
	text-decoration: underline;
}

.noselect {
	user-select: none;
}

button {
	font: inherit;
	background-color: white;
	border: 0;
	border-radius: 5px;
	text-align: center;
	padding: 5px;
}

@media screen and (hover: hover) {
	button:hover {
		background-color: whitesmoke;
	}
}

button:active {
	background-color: lightgray;
}

/* Container */

.container {
	padding: 0px 15px;
}

.clearfix:after {
	content: "";
	display: table;
	clear: both;
}

/* Header */

.site-header {
	border-top: 5px solid #424242;
	flex: 0 0 auto;
	display: flex;
	justify-content: space-between;
	flex-wrap: nowrap;
}

.site-title {
	vertical-align: middle;
	margin: 5px 0;
	white-space: nowrap;
	font-size: 24px;
	font-variant: small-caps;
	font-weight: 300;
	text-overflow: clip;
	overflow-x: hidden;
}

.help-button {
	margin-right: -15px;
	padding: 6px 15px;
}

/* Page */

.modal-layer {
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.25);
}

.modal-window {
	display: flex;
	flex-direction: column;
	background-color: white;
	border: 1px solid lightgray;
	border-radius: 5px;
	max-width: 800px;
	width: 80%;
	height: 80%;
}

.modal-header {
	display: flex;
	justify-content: space-between;
	flex: 0 0 auto;
	font-size: large;
	border-bottom: 1px solid lightgray;
}

.modal-title {
	margin: 10px;
}

.modal-close-button {
	float: right;
	padding: 0.5em 0.75em;
}

.modal-content {
	flex: 1 1 auto;
	margin: 10px;
	overflow: auto;
}

.modal-content > *:not(:first-child) {
	margin-top: 5px;
}

.modal-content > h2:not(:first-child) {
	margin-top: 10px;
}

.modal-content h2 {
	font-size: large;
	font-weight: bold;
}

.modal-content textarea {
	width: 100%;
	height: 100%;
	box-sizing: border-box;
}

.modal-footer {
	display: flex;
	flex-direction: row-reverse;
	margin: 0 10px 10px 10px;
}

.modal-footer button {
	min-width: 60px;
}

.modal-footer button:not(:last-child) {
	margin-left: 15px;
}

.toolbar {
	display: flex;
	flex: 0 0 auto;
	flex-wrap: nowrap;
	overflow-x: auto;
	border-width: 1px 0px;
	border-style: solid;
	border-color: lightgray;
}

@media screen and (hover: hover) {
	.toolbar button:hover {
		background-color: whitesmoke;
	}
}

.toolbar button:active {
	background-color: lightgray;
}

.toolbar button {
	display: inline-block;
	font: inherit;
	font-size: small;
	line-height: 1;
	padding: 5px;
	min-width: min-content;
	min-height: 30px;
	background-color: white;
	border: 0;
}

.toolbar > :not(:first-child) {
	margin-left: 5px;
}

.toolbar button span {
	white-space: nowrap;
}

.toolbar button:disabled{
    background: #eee !important;
    color: #777 !important;
    border-color: #666 !important;
}

.hidden {
	display: none;
}

.dropdown {
	position: absolute;
	box-shadow: 0px 10px 16px 0px rgba(0, 0, 0, 0.2);
	background-color: white;
	border-radius: 5px;
}

.dropdown button {
	display: block;
	width: 100%;
	text-align: initial;
}

#canvas {
	display: block;
	width: 100%;
	height: 100%;
	flex: 1 1 auto;
	background-color: white;
	/*
	image-rendering: -moz-crisp-edges;
	image-rendering: -webkit-crisp-edges;
	image-rendering: pixelated;
	image-rendering: crisp-edges;
	*/
}

.statusbar {
	flex: 0 0 auto;
	/* font-size: 75%; */
	height: 1.5em;
	border-top: 1px solid lightgray;
}

/* Footer */

.site-footer {
	border-color: lightgray;
	border-style: solid;
	border-width: 1px 0px;
	background-color: #eee;
	padding: 15px 0;
	flex-grow: 0;
	flex-shrink: 1;
}

.footer-content {
	text-align: center;
	font-size: 16px;
	color: #595959;
}

.footer-content .roundbox {
	display: inline-block;
	width: 40px;
	height: 40px;
	margin: 4px;
	background-color: white;
	border-radius: 25%;
	fill: #595959;
	text-align: center;
	vertical-align: middle;
}

.footer-content .roundbox svg {
	width: 24px;
	height: 24px;
	margin: 8px;
}

.drop-area {
  border: 2px dashed #ccc;
  border-radius: 10px;
  height: 50px;
  text-align: center;
  font-family: sans-serif;
  color: #333;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.drop-area.highlight {
  border-color: #007bff;
}

#timeline-bar {
    bottom: 100;
    left: 0;
    width: 100%;
    background: #222;
    padding: 8px 12px;
    box-sizing: border-box;
    display: none;
    flex-direction: column;
    z-index: 9999;
    font-family: system-ui, sans-serif;
	gap:8px;
	align-items:center;
	margin-top:8px;
}

#timeline-controls {
    display: flex;
    gap: 8px;
    justify-content: center;
}

#timeline-controls button {
    padding: 6px 12px;
    background: #444;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
}

#timeline-controls button:hover {
    background: #666;
}

#timeline-range {
    appearance: none;
    width: 100%;
    height: 6px;
    background: #666;
    border-radius: 3px;
    outline: none;
    cursor: pointer;
}

#timeline-range::-webkit-slider-thumb {
    appearance: none;
    width: 14px;
    height: 14px;
    background: #fff;
    border-radius: 50%;
    cursor: grab;
}

#timeline-range::-moz-range-thumb {
    width: 14px;
    height: 14px;
    background: #fff;
    border-radius: 50%;
    cursor: grab;
}

#timeline-controls{
	width:100%;
	display: flex;
	align-items: center;
}